<div class="navigation-wrapper">
	<nav role="navigation" id="site-nav" class="animated drop">
	    <ul>
      {% for link in site.data.navigation %}
		    {% if link.url contains 'http' %}
		        {% assign domain = '' %}
		        {% else %}
		        {% assign domain = site.url %}
		    {% endif %}
		    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		  {% endfor %}
	    </ul>
	</nav>
</div><!-- /.navigation-wrapper -->

{% include browser-upgrade.html %}<!-- 低版本浏览器友好处理 -->

{% if page.image.feature %}<header class="masthead">
	{% if site.logo != null %}
		<div class="wrap">
			<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
		</div>
	{% endif %}
</header><!-- /.masthead -->
{% else %}<header class="masthead">
	<div class="wrap">
      {% if site.logo != null %}
  		<a href="{{ site.url }}/" class="site-logo" rel="home" title="{{ site.title }}"><img src="{{ site.url }}/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInDown"></a>
      {% endif %}
      <h1 class="site-title animated fadeIn"><a href="{{ site.url }}/"><span style='color:white;background-color:black;'>文字</span><span style='color:black;background-color:white;'>照片</span><div>de</div><span style='color:red;background-color:black;'>较</span><span style='color:green;background-color:black;'>量</span></a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{site.title}}-{{ site.description }}</h2>
	</div>
</header><!-- /.masthead -->{% endif %}

<div class="js-menu-screen menu-screen"></div>
