<span class="social-share-twitter">
  <a href="http://user.qzone.qq.com/1428585211/infocenter?ptsig=LB9AHEcSouNliWqdjO3avjcpNkWYpiknSJTfpTyfpqw_?hashtags={{ page.tags | join: ',' | remove: ' ' }}&amp;text={{ page.title | escape | replace:' ','%20' }}&amp;url={{ site.url }}{{ page.url }}{% if author.twitter %}&amp;via={{ author.twitter }}{% endif %}" title="Share on Twitter" itemprop="Twitter"><i class="fa fa-twitter-square"></i> QQ空间</a>
</span>
<span class="social-share-facebook">
  <a href="https://github.com/RUSHUI/tanpengfei?u={{ site.url }}{{ page.url }}" title="Share on Facebook" itemprop="Facebook"><i class="fa fa-facebook-square"></i> Github</a>
</span>
<span class="social-share-googleplus">
  <a href="https://plus.google.com/explore?url={{ site.url }}{{ page.url }}" title="Share on Google Plus" itemprop="GooglePlus"><i class="fa fa-google-plus-square"></i> Google +</a>
</span>
<!-- /.social-share -->
